.plan{
    max-width: 1280px;
    width: 100%;
    height: 450px;
    border-radius: 8px;
    background-image: url('../../Imgs/Bitmap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.plan>h2{
    padding-top: 134px;
    padding-left: 85px;
    color: #FEFCF7;
    font-family: 'Fraunces', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px; /* 100% */
}
.plan>p{
    padding-top: 32px;
    padding-left: 85px;
    max-width: 445px;
    width: 100%;
    color: #FEFCF7;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: 0.8;
}


.works__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
    
}



.works__cards__card__num {
    color: #FDD6BA;
    font-family: 'Fraunces', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    /* 100% */
}

.works__cards__card__title {
    color: #FEFCF7;
    font-family: 'Fraunces';
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    /* 112.5% */
    padding-top: 38px;
}

.works__cards__card__text {
    max-width: 285px;
    width: 100%;
    color: #FEFCF7;
    font-family: 'Barlow';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding-top: 42px;
}
.workBack{
    margin-top: 155px;
    padding: 113px 150px 99px 85px;
background-color: #2C343E;
}

@media screen and (max-width:924px){


    .workBack>img{
    
    width: 600px;
    }
    .works__cards__card__text {
        max-width: 285px;
        width: 100%;
        color: #FEFCF7;
        font-family: 'Barlow';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */
        padding-top: 42px;
    }
    .works__cards__card__title {
        color: #FEFCF7;
        font-family: 'Fraunces';
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        /* 112.5% */
        padding-top: 38px;
    }
}
@media screen and (max-width:727px) {
    .workBack>img{
    
        width: 350px;
        }

        .workBack{
            margin-top: 155px;
            padding: 113px 20px 99px 38px;
        background-color: #2C343E;
        }
}

@media screen and (max-width:375px) {
    .workBack>img{
    display: none;
        }
        .works__cards {
            display: flex;
            justify-content: space-between;
            margin-top: 67px;
            flex-direction: column;
            
        }
        .plan>h2{
            color: #FEFCF7;
            text-align: center;
            font-family: 'Fraunces';
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 40px; /* 100% */
        }
        .plan>p{
            color: #FEFCF7;
            text-align: center;
            font-family: 'Barlow';
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 166.667% */
        }    
        .plan>p{
    padding-left: 40px;
    }
    .plan>h2{
        padding-left: 40px;
        }
}